<div class="container w-100">
    <div class="row w-100 mt-5">

       <div class="col-md-12 d-flex justify-content-center">
           <h1 class="text-monospace"> Meu Blog Pessoal</h1>
       </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dolorem aspernatur quos vitae aperiam? Maxime ullam eos, repellendus vel cupiditate explicabo quam perferendis mollitia, est consequatur doloremque placeat error voluptate!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit officia ex distinctio ducimus itaque velit, mollitia laborum, doloremque consequatur, similique exercitationem placeat asperiores. Ipsa nisi vitae culpa nesciunt exercitationem provident?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quaerat animi corporis consequuntur vel? In a maxime culpa totam velit possimus corporis impedit tenetur exercitationem vero. Corrupti assumenda dolor adipisci.
            </p>
        </div>
    </div>
</div> <!--DIV CONTAINER-->
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Acessar o feed</button>
        </div>
    </div>

