<div class="container w-100">
    <div class="row w-100 mt-5">
       <div class="col-md-12 d-flex justify-content-center">
           <h1 class="text-monospace"> Meu Blog Pessoal</h1>
       </div>
    </div>

<div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
        <p class="text-justify text-monospace">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quasi quas unde ratione similique, illo facere natus dolorem ex at accusantium, voluptatem impedit? Quia rerum maiores blanditiis magni natus necessitatibus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur exercitationem, placeat culpa eveniet dolor nihil assumenda ut id recusandae nam in consectetur voluptatibus architecto tempora, incidunt quae temporibus atque dolore.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum commodi, rem culpa laboriosam quos, dolore obcaecati quidem nam reiciendis id unde dolor quia distinctio ullam ipsam! Aliquam rerum doloremque ratione.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolor sint odio accusamus quia nostrum debitis necessitatibus iste placeat nobis dicta libero eligendi saepe quisquam alias sapiente optio, temporibus maiores!
        </p>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>
</div>